.p-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.p-field input{
width: 100%;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

:host ::ng-deep .p-dialog .p-dialog-footer p-button {
  margin: 0.25rem;
}
