.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;

}

.p-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.register-card{
  width: 20rem;
}

.p-field input{
width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
