<app-header></app-header>
<div class="tablewidht">
  <div class="header-container">
    <!-- Se utiliza un formGroup para los filtros -->
    <form [formGroup]="filterForm" class="filter-row" style="margin-bottom: 1rem;">
      <input type="text" pInputText formControlName="id" placeholder="Filtrar ID" style="margin-right: .5rem;" />
      <input type="text" pInputText formControlName="name" placeholder="Filtrar Nombre" style="margin-right: .5rem;" />
      <input type="text" pInputText formControlName="genre" placeholder="Filtrar Género" style="margin-right: .5rem;" />
      <input type="number" pInputText formControlName="note" placeholder="Filtrar Nota" />
    </form>
    <app-add-button></app-add-button>
  </div>

  <p-table #dt [value]="(videoGames$ | async) ?? []"
           [paginator]="true"
           [rows]="rows"
           [first]="first"
           [rowsPerPageOptions]="[5, 10, 20]"
           (onPage)="onPageChange($event)"
           [loading]="loading$ | async">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Género</th>
        <th>Nota</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-game>
      <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.name }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.note }}</td>
        <td>
          <p-button
            type="button"
            icon="pi pi-pencil"
            (click)="onEdit(game)"
            styleClass="p-button-rounded p-button-info"
            tooltip="Editar"
            tooltipOptions="{ position: 'top' }"
            text>
          </p-button>
        </td>
        <td>
          <p-button
            type="button"
            icon="pi pi-trash"
            (click)="onDelete(game)"
            styleClass="p-button-rounded p-button-danger"
            tooltip="Eliminar"
            tooltipOptions="{ position: 'top' }"
            text>
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No se encontraron videojuegos.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-update-button [videoGame]="selectedGame"></app-update-button>
